source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1, netstandard2.0
storage: none

nuget FSharp.Core
nuget FSharp.Data
nuget Fable.Remoting.Giraffe
nuget Fable.JsonConverter
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.StaticFiles
nuget jose-jwt
nuget Neo4j.Driver.Signed 1.7.2
nuget Newtonsoft.Json
nuget EventStore.ClientAPI.NetCore
nuget Neo4jClient
nuget WebPush

nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Fulma
nuget Fulma.Extensions.Wikiki.Quickview
nuget Thoth.Elmish.Toast

group Build
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: none

  nuget FSharp.Core
  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.IO.FileSystem