source https://api.nuget.org/v3/index.json
framework net5.0
storage none

nuget FSharp.Core
nuget FSharp.Data
nuget Fable.Remoting.Giraffe
nuget Giraffe
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.StaticFiles
nuget jose-jwt
nuget Neo4j.Driver.Signed
nuget EventStore.Client.Grpc.Streams
nuget Neo4jClient
nuget WebPush
nuget TaskBuilder.fs

nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Feliz
nuget Feliz.Bulma
nuget Fulma
nuget Fulma.Extensions.Wikiki.Quickview
nuget Thoth.Elmish.Toast

group Build
  source https://api.nuget.org/v3/index.json
  framework net5.0
  storage none

  nuget FSharp.Core
  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem