@charset "utf-8"

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts"
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '~@fortawesome/fontawesome-free/scss/regular.scss'
@import '~@fortawesome/fontawesome-free/scss/solid.scss'
@import '~@fortawesome/fontawesome-free/scss/brands.scss'

// OpenSans
// $FontPathOpenSans: "~open-sans-fonts/open-sans"
// @import '~open-sans-fonts/open-sans'
// body
//   font-family: 'Open Sans' !important

@import "~bulma/sass/utilities/initial-variables"

$primary: #114B5F
$secondary: #AA4465
$link: $primary
$info: #5AB1BB
$success: #DCF763
$warning: #FFAD05
// $warning-light:#FFEBC2
$danger: #F05D5E // #F0803C
// $danger-light: #FCD9D9
// $dark: $primary
$dark: $grey-darker
$text: $grey-dark
$background: #F1F8F9
$background-alt: $white
$body-background-color: $background
$white-ter: $background

// $family-primary:
$radius: 0
$radius-small: 0
$radius-large: 0
$shadow: none
$body-line-height: 1
// $border: solid 1px $light

// $modal-card-head-background-color: $background
// $modal-card-head-padding: 0
// $modal-card-head-radius: 0
// $modal-card-foot-radius: 0

// $tabs-link-color: $primary
// $navbar-tab-active-color: $primary
// $navbar-item-color: $primary
// $navbar-height:4em

$tabs-toggle-link-active-background-color: $primary
$tabs-toggle-link-border-width: 2px
$tabs-toggle-link-border-color: $primary
$tabs-toggle-link-hover-border-color: $dark
$tabs-toggle-link-active-border-color: $dark
.navbar .tabs a span
  text-transform: uppercase
  font-weight: bold
  font-size: 0.75em

$modal-card-foot-border-top: 0

// Bulma
@import "~bulma/bulma"
@import "~bulma-quickview/dist/css/bulma-quickview.sass"
@import "~bulma/sass/utilities/derived-variables"

.navbar
  min-height: 0px

.box
  border-radius: 0
  .block:last-child
    margin-bottom: 0

.home
  .block
    margin-bottom: 1em
  .button i
    margin-left: 3px

.how-it-works
  .box
    margin-bottom: 1em
    position: relative
    overflow: hidden
  p
    line-height: 1.5em
  p:not(:last-child)
    margin-bottom: 0.5em
  b
    white-space: nowrap

  .small-text
    p
      font-size: $size-small

  .bg-badge-box
    opacity: 0.08
    filter: saturate(0)
    position: absolute
    right: 1em
    bottom: 1em

.button
  border: solid 2px $dark
  text-transform: uppercase
  font-weight: bold

.button.is-outlined
  border-color: unset

.message
  .message-body
    line-height: 1.5em
  a
    white-space: nowrap
.panel
  .panel-block
    padding: 1em 0.75em

.table tr.is-selected
  background-color: $light
  color: $dark

$brand-green: $link

.text-right
  text-align: right
.text-left
  text-align: left
table.table th.text-right
  text-align: right !important
table.table th.text-left
  text-align: left !important

.matrix-container
  .card
    overflow-x: scroll
.matrix
  .matrix-head-container
    position: relative
    width: 64px
    height: 36px
    margin: 0 auto
  .matrix-head
    position: absolute
    width: 30px
    height: 30px
    align-items: center
    display: inline-flex
    justify-content: center
  .matrix-head-left
    left: 1px
  .matrix-head-right
    right: 1px
  .matrix-player-row td
    padding: .5em .75em .3em
  .matrix-player-name, .matrix-player-score
    white-space: nowrap
    line-height: 2em

.title em, .title span, .subtitle em, .subtitle span
  font-weight: bold !important

.home
  .hero-body
    padding: 2rem 1.5rem

  .fixture-reel-container
    overflow-x: scroll
    margin-bottom: 1em
      // display: flex
      // flex-direction: row
    .fixture-reel
      display: flex
      // flex-direction: row
    .fixture-reel-item
      display: flex
      margin-right: 1em
    .fixture-reel-item:last
      margin-right: 0em

.movement-up
  color: $success
.movement-down
  color: $danger
.movement-none
  text-align: center
  color: $grey

.scorebox-container
  width: 64px
  height: 36px
  position: relative
  margin: 0 auto
  .scorebox
    position: absolute
    width: 30px
    height: 30px
    align-items: center
    background-color: $background
    border-color: $background
    border-style: solid
    border-width: 1px
    border-radius: 0px
    color: $dark
    display: inline-flex
    justify-content: center
    line-height: 1.5
    padding-left: .75em
    padding-right: .75em
    white-space: nowrap
    font-weight: bold
  .scorebox-left
    left: 1px
  .scorebox-right
    right: 1px

  // .scorebox.kicked-off
  // .scorebox.no-points
  .scorebox.correct-result
    background-color: $white
    border-color: $brand-green
    border-width: 2px

  .scorebox.correct-score
    background-color: $brand-green
    border-color: $brand-green
    color: $white

  .scorebox-dd
    @extend .scorebox
    background-color: $warning
    width: 18px
    height: 18px
    font-size: 10px
    left: 23px
    bottom: 1px
    border: none

.player-fixtureset
  .player-fixtureset-team
    line-height: 2em
  .badge
    margin: 0.2em 0.5em
  .home .badge
    float: right
  .away .badge
    float: left

.card.card-footer-only
  .card-footer
    border-top: none

.fixture-details-container
  background-color: $grey-lighter
  .quickview
    box-shadow: 0px 0 20px 10px rgba(0, 0, 0, 0.5)
  .quickview-footer
    display: block
    justify-content: inherit
    padding: 0
    min-height: inherit
    background-color: $white
    border: none
  .quickview-footer .card-footer
    margin: 0
.fixture-details
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  margin-bottom: 1em
  background-image: linear-gradient(70deg, whitesmoke 15%, #fff 40%)
  .fd-badge-container
    padding: 1em
  .fd-badge
    position: relative
  .fd-team-name
    padding-top: 0.7em
    padding-left: 1.2em
    padding-bottom: 0.2em
  .fd-position-ordinal
    padding-left: 1.2em
  .fd-ordinal
    text-transform: uppercase
    font-size: 0.6em

  $darkgrey-grad: linear-gradient(140deg, #9e9e9e 50%, #888 100%)

  .fd-league-row
    padding: 0.4em 1em
    text-align: center
    background-color: $grey-lighter
    .fd-key
      display: inline-block
      margin-right: 0.3em
      text-transform: uppercase
      font-size: 0.6em
      color: #fff
    .fd-val
      font-size: 0.8em
      display: inline-block
      font-weight: bold
      color: #fff

  .form-guide
    padding: 0 1em 1em
    margin-top: -1em
    .fg-column
      margin-right: 2px
      .hero
        border-radius: 2px
    .fg-goal
      height: 7px
      border-radius: 2px
    .fg-goals-for .fg-goal-some,
    .fg-goals-against .fg-goal-some
      background-color: $grey-lighter
    .fg-goals-for .fg-goal
      margin-bottom: 2px
    .fg-goals-against .fg-goal
      margin-top: 2px

    .fg-result-w,
    .fg-result-d,
    .fg-result-l
      text-align: center
      padding: 0.2em
      border-radius: 2px
      font-size: 0.8em
      font-weight: bold
      color: $light
    .fg-result-d
      background-image: $darkgrey-grad
    .fg-venue-h,
    .fg-venue-a
      text-align: center
      margin: 0.5em 0 0
      font-size: 0.6em
      text-transform: uppercase
      color: #aaa

.page-title, .page-sub-title
  // padding-left: 1em
  margin-bottom: 1em
  span
    color: $white-ter
    background-color: $secondary
    display: inline-flex
    padding: 0.3em 0.7em
    font-weight: bold
    text-transform: uppercase

.page-sub-title
  span
    background-color: $warning
    color: unset

.gw-fixture-item
  background-color: $background-alt
  margin-bottom: 2em
  // padding-bottom: 1em

.gw-fixture-item.gw-fixture-item-ismodified
  background-color: $warning-light
  border: solid 2px $warning
.gw-fixture-item
  position: relative
  .gw-fixture-result-row
    position: relative
    top: -16px
    // margin-bottom: -0.6em

  .gw-fixture-result-container
    padding: 2px
  .gw-fixture-result-desc
    font-size: $size-small
    display: flex
    margin-bottom: 2px
    span
      flex-grow: 1
      text-align: center
      font-weight: bold

  .gw-fixture-result-box
    display: flex

    div
      text-align: center
      font-weight: bold
      margin-right: 2px
      padding: 6px 0
      width: 30px
    div:last-child
      margin-right: 0

  .gw-fixture-result-row.gw-fixture-open
    .gw-fixture-result-desc
      color: $white-ter
    .gw-fixture-result-container
      background-color: $info
    .gw-fixture-result-box
      div
        background-color: $info-light

  .gw-fixture-result-row.gw-fixture-inplay
    .gw-fixture-result-container
      background-color: $warning
    .gw-fixture-result-box
      div
        background-color: $warning-light

  .gw-fixture-result-row.gw-fixture-classified
    .gw-fixture-result-container
      background-color: $warning
    .gw-fixture-result-box
      div
        background-color: $warning-light

  .gw-fixture-pred-row
    position: relative
    top: -10px

  .gw-fixture-pred-container
    padding: 2px
    position: relative
    top: -6px
    .gw-fixture-pred-box
      display: flex
      .pred-score
        text-align: center
        font-weight: bold
        margin-right: 2px
        padding: 6px 0
        width: 35px
        font-size: 1.2em
      .pred-score:last-child
        margin-right: 0
      .pred-dd, .pred-bigup
        background-color: $warning
        position: absolute
        width: 19px
        bottom: 0
        text-align: center
        padding: 2px 0px
        left: 29px

  .gw-fixture-pred-row.gw-fixture-nopred
    .gw-fixture-pred-container
      background-color: $danger
    .gw-fixture-pred-box
      .pred-score
        background-color: $danger-light
        color: $danger

  .gw-fixture-pred-row.gw-fixture-haspred
    .gw-fixture-pred-container
      background-color: $info
    .gw-fixture-pred-box
      .pred-score
        background-color: $info-light

  .gw-fixture-item-arrow
    position: absolute
    right: 1em
    top: 3em

.gw-fixture-modal-container
  background-color: $background
  padding: 1em 0 0
.gw-fixture-modal-content
  padding: 0

.gw-fixture-modal-content
  .gw-fixture-item-arrow
    display: none

  .gw-fixture-item.gw-fixture-item-ismodified
    background-color: $white
    border: none

  .gw-fixture-item
    margin-bottom: 0
    padding-bottom: 0

  .block
    margin-bottom: 1em
  .gw-fixture-preset-score-row
    display: flex
    justify-content: center
    margin-bottom: 2px
    .button
      flex-grow: 1
      margin-right: 2px
    .button:last-child
      margin-right: 0
  // .gw-fixture-preset-score-row:last-child
  //   margin-bottom: 0

.gw-fixture
  .modal-card
    max-height: unset
    height: calc(100vh - 120px)
    // background-color: $background
    // position: relative
  .modal-card-body
    padding: 0
  .modal-card-foot
    justify-content: center
  .modal-card-foot .button, .modal-card-foot .button:focus
    background-color: $secondary
    border: none
    color: $white-ter
    flex-grow: 1

  .modal-card-foot .button:not(:last-child)
    margin-right: 2px

  .gw-fixture-page-row
    .box
      display: flex
      justify-content: center
      .button
        background-color: $secondary
        border: none
        color: $white-ter
        flex-grow: 1
      .button:not(:last-child)
        margin-right: 2px

.kick-off-time
  background-color: $info
  padding: 0.3em 0.5em
  color: $white-ter
  // font-size: 0.7rem
  font-size: $size-small
  font-weight: bold

.short-team-name
  text-transform: uppercase
  font-weight: bold
  background-color: $primary
  color: $white-ter
  display: inline-flex
  justify-content: center
  padding: 0.3em 0.5em
  white-space: nowrap

.big-up-box-container
  background-color: $white-ter
  display: flex
  justify-content: flex-start
  overflow-x: scroll
  margin-bottom: 1em
  .big-up-box-item
    margin-right: 1em
  .big-up-box-top
    display: flex
    .big-up-box-heading
      background-color: $warning
      display: inline-flex
      padding: 0.3em 0.7em
      font-weight: bold
      text-transform: uppercase
      position: relative
      margin-bottom: 10px
      margin-right: 5px
      white-space: nowrap
    .big-up-box-heading
      i
        margin-right: 5px
    .big-up-box-player
      display: inline
      white-space: nowrap
      margin-top: 4px

  .big-up-box-bottom
    display: flex
    padding: 12px
    background-color: $white
  .big-up-box-team
    font-weight: bold
    text-transform: uppercase
    color: $primary
  .big-up-box-pred
    font-weight: bold
    color: $white-ter
    background-color: $primary
    margin: 0 6px
    padding: 2px 4px
    font-size: 0.7em
    white-space: nowrap

.hide-scrollbars
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    width: 0px
    background: transparent

.me-page
  .page-title
    display: inline-flex
    margin-right: 5px
  .me-total-points-bar
    margin-bottom: 1em

    // .me-total-points-value

  .me-badges-bar
    i
      margin: 3px
    .me-badge-list
      margin-bottom: 2em
    .me-badge-list
      .message
        margin-bottom: 0.5em
      .message-body
        background-color: $white

    .me-badge-item
      // position: relative
      // padding: 1em
      // margin-bottom: 0.5em

      .me-badge-title
        font-weight: bold
        text-transform: uppercase
        color: $primary
        margin-left: 5px
        // margin-bottom: 5px
      p
        font-size: $size-small
        line-height: 1.4em
        color: $dark
        // padding: 1em 0 0
        display: block
        margin-left: 2.3em
      p:not(:last-child)
        margin-bottom: 0.5em



.team-title.ARS
  background-image: linear-gradient(180deg, #e10512 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #fff
.team-title.AVL
  background-image: linear-gradient(180deg, #93bee5 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #670a30
.team-title.BOU
  background-image: linear-gradient(180deg, #d41319 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.BHA
  background-image: linear-gradient(180deg, #0053a3 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.BRE
  background-image: linear-gradient(180deg, #232020 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.BUR
  background-image: linear-gradient(180deg, #6a0b46 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #8bd3f5
.team-title.CHE
  background-image: linear-gradient(180deg, #024593 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.CRY
  background-image: linear-gradient(180deg, #16216a 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.EVE
  background-image: linear-gradient(180deg, #024593 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.FUL
  background-image: linear-gradient(180deg, #000001 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.LEI
  background-image: linear-gradient(180deg, #033f96 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.LEE
  background-image: linear-gradient(180deg, #f3ed0c 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #2954a2
.team-title.LIV
  background-image: linear-gradient(180deg, #d20911 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.MCI
  background-image: linear-gradient(180deg, #6cafdf 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #0a265b
.team-title.MUN
  background-image: linear-gradient(180deg, #db0b14 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #222222
.team-title.NEW
  background-image: linear-gradient(180deg, #231f20 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.NOR
  background-image: linear-gradient(180deg, #fef100 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #1c1b1d
.team-title.SHU
  background-image: linear-gradient(180deg, #ee1c25 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.SOU
  background-image: linear-gradient(180deg, #ec1a3a 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.TOT
  background-image: linear-gradient(180deg, #031e59 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.WAT
  background-image: linear-gradient(180deg, #f9f125 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #060606
.team-title.WBA
  background-image: linear-gradient(180deg, #051251 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.WHU
  background-image: linear-gradient(180deg, #7a2539 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #fffefe
.team-title.WOL
  background-image: linear-gradient(180deg, #faa41a 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #231f20
