@charset "utf-8"

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts"
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '~@fortawesome/fontawesome-free/scss/regular.scss'
@import '~@fortawesome/fontawesome-free/scss/solid.scss'
@import '~@fortawesome/fontawesome-free/scss/brands.scss'

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans"
@import '~open-sans-fonts/open-sans'
body
  font-family: 'Open Sans' !important

@import "~bulma/sass/utilities/initial-variables"

$primary: #114B5F
$link: $primary
$info: #5AB1BB
$success: #DCF763
$warning: #FFAD05
$danger: #F0803C
$dark: $grey-darker
$text: $grey-dark
$background: #F1F8F9
$body-background-color: $background
$white-ter: $background

// Bulma
@import "~bulma/bulma"
@import "~bulma-quickview/dist/css/bulma-quickview.sass"
@import "~bulma/sass/utilities/derived-variables"

.navbar
  min-height: 0px

.navbar .tabs.is-toggle ul li a
  border-radius: 0

.navbar.is-fixed-bottom.has-shadow
  box-shadow: 0 1px 4px 0 rgba(10, 10, 10, 0.3)

.table tr.is-selected
  background-color: $light
  color: $dark

$brand-green: $link

.text-right
  text-align: right
.text-left
  text-align: left
table.table th.text-right
  text-align: right !important
table.table th.text-left
  text-align: left !important

.matrix-container
  .card
    overflow-x: scroll
.matrix
  .matrix-head-container
    position: relative
    width: 64px
    height: 36px
    margin: 0 auto
  .matrix-head
    position: absolute
    width: 30px
    height: 30px
    align-items: center
    display: inline-flex
    justify-content: center
  .matrix-head-left
    left: 1px
  .matrix-head-right
    right: 1px
  .matrix-player-row td
    padding: .5em .75em .3em
  .matrix-player-name, .matrix-player-score
    white-space: nowrap
    line-height: 2em

.home
  .hero
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  .hero-body
    padding: 2rem 1.5rem

.movement-up
  color: $success
.movement-down
  color: $danger
.movement-none
  text-align: center
  color: $grey

.scorebox-container
  width: 64px
  height: 36px
  position: relative
  margin: 0 auto
  .scorebox
    position: absolute
    width: 30px
    height: 30px
    align-items: center
    background-color: $background
    border-color: $background
    border-style: solid
    border-width: 1px
    border-radius: 4px
    color: $dark
    display: inline-flex
    justify-content: center
    line-height: 1.5
    padding-left: .75em
    padding-right: .75em
    white-space: nowrap
    font-weight: bold
  .scorebox-left
    left: 1px
  .scorebox-right
    right: 1px

  // .scorebox.kicked-off
  // .scorebox.no-points
  .scorebox.correct-result
    background-color: $white
    border-color: $brand-green
    border-width: 2px

  .scorebox.correct-score
    background-color: $brand-green
    border-color: $brand-green
    color: $white

  .scorebox-dd
    @extend .scorebox
    background-color: $warning
    width: 18px
    height: 18px
    font-size: 10px
    left: 23px
    bottom: 1px
    border: none

.player-fixtureset
  .player-fixtureset-team
    line-height: 2em
  .badge
    margin: 0.2em 0.5em
  .home .badge
    float: right
  .away .badge
    float: left

.card.card-footer-only
  .card-footer
    border-top: none

.fixture-details-container
  background-color: $grey-lighter
  .quickview
    box-shadow: 0px 0 20px 10px rgba(0, 0, 0, 0.5)
  .quickview-footer
    display: block
    justify-content: inherit
    padding: 0
    min-height: inherit
    background-color: $white
    border: none
  .quickview-footer .card-footer
    margin: 0
.fixture-details
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  margin-bottom: 1em
  background-image: linear-gradient(70deg, whitesmoke 15%, #fff 40%)
  .fd-badge-container
    padding: 1em
  .fd-badge
    position: relative
  .fd-team-name
    padding-top: 0.7em
    padding-left: 1.2em
    padding-bottom: 0.2em
  .fd-position-ordinal
    padding-left: 1.2em
  .fd-ordinal
    text-transform: uppercase
    font-size: 0.6em

  $darkgrey-grad: linear-gradient(140deg, #9e9e9e 50%, #888 100%)

  .fd-league-row
    padding: 0.4em 1em
    text-align: center
    background-color: $grey-lighter
    .fd-key
      display: inline-block
      margin-right: 0.3em
      text-transform: uppercase
      font-size: 0.6em
      color: #fff
    .fd-val
      font-size: 0.8em
      display: inline-block
      font-weight: bold
      color: #fff

  .form-guide
    padding: 0 1em 1em
    margin-top: -1em
    .fg-column
      margin-right: 2px
      .hero
        border-radius: 2px
    .fg-goal
      height: 7px
      border-radius: 2px
    .fg-goals-for .fg-goal-some,
    .fg-goals-against .fg-goal-some
      background-color: $grey-lighter
    .fg-goals-for .fg-goal
      margin-bottom: 2px
    .fg-goals-against .fg-goal
      margin-top: 2px

    .fg-result-w,
    .fg-result-d,
    .fg-result-l
      text-align: center
      padding: 0.2em
      border-radius: 2px
      font-size: 0.8em
      font-weight: bold
      color: $light
    .fg-result-d
      background-image: $darkgrey-grad
    .fg-venue-h,
    .fg-venue-a
      text-align: center
      margin: 0.5em 0 0
      font-size: 0.6em
      text-transform: uppercase
      color: #aaa

.team-title.ARS
  background-image: linear-gradient(180deg, #e10512 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #fff
.team-title.AVL
  background-image: linear-gradient(180deg, #93bee5 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #670a30
.team-title.BOU
  background-image: linear-gradient(180deg, #d41319 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.BHA
  background-image: linear-gradient(180deg, #0053a3 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.BRE
  background-image: linear-gradient(180deg, #232020 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.BUR
  background-image: linear-gradient(180deg, #6a0b46 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #8bd3f5
.team-title.CHE
  background-image: linear-gradient(180deg, #024593 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.CRY
  background-image: linear-gradient(180deg, #16216a 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.EVE
  background-image: linear-gradient(180deg, #024593 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.FUL
  background-image: linear-gradient(180deg, #000001 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.LEI
  background-image: linear-gradient(180deg, #033f96 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.LEE
  background-image: linear-gradient(180deg, #f3ed0c 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #2954a2
.team-title.LIV
  background-image: linear-gradient(180deg, #d20911 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.MCI
  background-image: linear-gradient(180deg, #6cafdf 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #0a265b
.team-title.MUN
  background-image: linear-gradient(180deg, #db0b14 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #222222
.team-title.NEW
  background-image: linear-gradient(180deg, #231f20 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.NOR
  background-image: linear-gradient(180deg, #fef100 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #1c1b1d
.team-title.SHU
  background-image: linear-gradient(180deg, #ee1c25 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.SOU
  background-image: linear-gradient(180deg, #ec1a3a 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.TOT
  background-image: linear-gradient(180deg, #031e59 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.WAT
  background-image: linear-gradient(180deg, #f9f125 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #060606
.team-title.WBA
  background-image: linear-gradient(180deg, #051251 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #ffffff
.team-title.WHU
  background-image: linear-gradient(180deg, #7a2539 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #fffefe
.team-title.WOL
  background-image: linear-gradient(180deg, #faa41a 50%, rgb(0, 0, 0, 0) 50%)
  .title
    color: #231f20
